#welcome{
  font-size: 48px;
  color: rgb(88, 196, 234);
}

#sports{
  display: flex;
  align-items: center;
  justify-content: center;
}

#innovation{
  display: flex;
  align-items: center;
  justify-content: center;
}


